/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */

html, body {
  font-family: 'Odibee Sans', cursive;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #2c3e50;
  width: 100%;
  height: 100vh;
}

/* Header */

h1 {
  font-size: 10vw;
  color: #da1f26;
  margin: 8% 0;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

/* Main Section */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.score {
  display: flex;
  color: #e2e2e7;
  font-size: 9vw;
  width: 15vw;
  text-align: center;
}

.fleabagScore,
.priestScore  {
  width: 50%;
}

#gameText {
  height: 4.5vh;
  text-align: center;
  color: #b9b9b9;
  font-size: 6vw;
  letter-spacing: 0.04em;
  margin: 10px 0;
}

.resetBtn {
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 500ms;
}

.resetBtn:hover {
  transform: rotate(-0.5turn);
}

.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 9vw;
  display: inline-block;
  color: #e2e2e7;
}

/* Game Buttons */

.gameButtonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 15% 0;
}

.gameButton {
  border: none;
  background: none;
  /* ease is the default value of the transition timing function */
  transition: transform 250ms;
}

.gameButton:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.gameButton > img {
  width: 60%;
}

/* Players */

.players {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.players p {
  color: #e2e2e7;
  font-size: 7vw;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}

.fleabag p:first-child, 
.priest p:first-child {
  margin-bottom: 20px;
  font-weight: bold;
}

.fleabag p:last-child, 
.priest p:last-child {
  text-transform: capitalize;
  font-size: 6vw;
  color: #b9b9b9;
}

/* Footer */

footer {
  position: relative;
  display: flex;
  background: #263747;
  width: 100%;
  height: 100px;
  margin-top: auto;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
}

footer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #263747;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  z-index: 2;
}

.footnotes {
  z-index: 3;
  color: #e2e2e7;
  position: absolute;
  top: 50%;
  transform: translate(0, -40%);
  font-size: 1em;
  letter-spacing: 0.04em;
  width: 100%;
  text-align: center;
}

.footnotes p:first-child {
  margin-bottom: 5px;
}

.footnotes p:last-child {
  color: #b9b9b9;
}

.footnotes p:last-child a {
  text-decoration: none;
  color: #e2e2e7;
}

.fleabagSpiritAnimal {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 0;
  right: 55%;
  z-index: 1;
  transition: transform 2000ms;
  background: url("https://github.com/lara-isak/coconut-bible-ginandtonic/blob/main/images/guinea-pig.png?raw=true") no-repeat;
  background-size: contain;
}

.priestSpiritAnimal {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 55%;
  z-index: 1;
  transition: transform 2000ms;
  background: url("https://github.com/lara-isak/coconut-bible-ginandtonic/blob/main/images/fox.png?raw=true") no-repeat;
  background-size: contain;
}

/* Media Queries */

/* Portrait (default) mode & min-width: 43em (688px) */
@media only screen and (min-width: 43em) {
  h1 {
    font-size: 8.5vw;
  }

  .score {
    font-size: 4em;
    width: 2em;
  }

  #gameText {
    font-size: 2.5em;
  }

  .material-icons-outlined {
    font-size: 4em;
  }

  .gameButtonsContainer {
    width: 90%;
    justify-content: space-between;
    margin: 10% 0;
  }

}

/* Landscape mode for devices up to width: 62em*/
@media only screen and (orientation: landscape) {
  h1 {
    font-size: 4.5vw;
    margin: 5% 0;
  }

  main {
    position: relative;
  }

  .score {
    font-size: 4.5vw;
  }

  #gameText {
    font-size: 3.5vw;
  }

  .material-icons-outlined {
    font-size: 4.5vw;
  }

  .resetBtn {
    position: absolute;
    top: 0;
    left: 60%;
  }

  .gameButtonsContainer {
    margin: 4% 0;
  }

  .gameButton > img {
    width: 30%;
  }

  .players p {
    font-size: 3vw;
  }

  .fleabag p:last-child, 
  .priest p:last-child {
  font-size: 2.5vw;
}

  footer {
    display: none;
  }
}

/* Portrait (default) mode & min-width: 62em (992px) */
@media only screen and (min-width: 62em) {
  .gameButtonsContainer {
    width: 80%;
    margin: 5% 0;
  }

  h1 {
    font-size: 5em;
  }

  .score {
    font-size: 4em;
  }

  #gameText {
    font-size: 2.5em;
  }

  .material-icons-outlined {
    font-size: 4em;
  }

  img {
    width: 80%;
  }

  .players {
    justify-content: space-around;
  }

  .players p {
    font-size: 3em;
  }
  
  .fleabag p:last-child, 
  .priest p:last-child {
    font-size: 2.5em;
  }
}

/* Landscape mode for devices up to width: 82em*/
@media only screen and (min-width: 62em) and (orientation: landscape) {
.gameButtonsContainer {
  margin: 4% 0;
}

.gameButton > img {
  width: 35%;
}

footer {
  display: block;
  }
}

/* Portrait (default) mode & min-width: 82em (1312px) */
@media only screen and (min-width: 82em) {
  .gameButtonsContainer {
    width: 60%;
    justify-content: center;
  }

  .players {
    width: 30%;
  }
}

/* Landscape mode for devices with min-width: 82em*/
@media only screen and (min-width: 82em) and (orientation: landscape) {
  .gameButton > img {
    width: 40%;
  }
}